<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--  Essential META Tags -->
    <meta property="og:title" content="Intended Link">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://intended.link/images/thumbnail.jpg">
    <meta property="og:url" content="https://intended.link">
    <meta name="twitter:card" content="summary_large_image">

    <!--  Non-Essential, But Recommended -->
    <meta property="og:description" content="Securely send private messages to social media accounts.">
    <meta property="og:site_name" content="Intended Link">
    <meta name="twitter:image:alt" content="Preview of splash page">

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Intended Link", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body style="background: linear-gradient(180deg,#060b2e 0%,#051745 100%); min-height: 100%;">
    <%= @inner_content %>
  </body>
</html>
